.post {
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post {
    margin-top: 2rem;
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time { 
    font-size: 0.875rem;
    color: var(--gray-300);
    line-height: 1.4rem;
}

.author {
    display: flex;
    gap: 1rem;
}

.author .avatar { 
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);;
    border: 4px solid var(--gray-800);
    border-radius: 8px;
    outline: 2px solid var(--green-500);

}

.author .authorInfo {
    display: flex;
    flex-direction: column;
    margin-top: 0.46rem ; 
}

.author .authorInfo strong {
    color: var(--gray-100);
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700px;
    line-height: 1.6rem;
}
.author .authorInfo span {
    color: var(--gray-300);
    font-family: 'Roboto';
    font-size: 0.87rem;
    line-height: 1.2rem;
}

.content {
    line-height: 1.6rem;
    color: var(--gray-400);
    font-weight: 0.75rem  ;
}
.content p {
    margin-top: 3rem;
}
.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}
.content a:hover {
    color: var(--green-300);
}